*,::after,::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.img-foto{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    object-position: left top ;
}

body{
  background:-webkit-linear-gradient( #87000099, #190A0590) 
               , url(../Imagen/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white; 
   height: 100vh;
 background-attachment: fixed;
}

.social{
    color: white;
    font-size: 1rem;
    padding: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:1px solid white;
    display: grid;
    place-content: center;
    gap: 20px;
}

.social:hover{
    color: white;
    box-shadow:  0 0 15px violet;
}

.icon-habilidades{
    display: flex;
    gap: 10px;
    width: 45px;
    height: 45px;
    font-size: 1.7rem;
    display: grid;
    place-content: center;
    border: 1px solid #ca0949;
    border-radius: 50%;
    box-shadow: 1px 1px 10px #ca0949;
}

.camino{
    min-height: 80vh;
    background-image: url(../Imagen/camino.svg);
    background-position: center;
    background-repeat: repeat-y;

}

.cardEducacion{
    width: 250px;
    padding: 20px;
    transform: translateX(-70%);
}

.cardEducacion:nth-child(2n){
    transform: translateX(70%);
   
}
.form-control:focus{
    box-shadow: 1px 1px 10px #ca0949;
}
.cardtext{
    font-size: 1rem;
    position: relative;
    }

.c-left::after, .c-rigth::after{
    content: "";
    width: 50%;
    height: 2px;
    position: absolute;
    background: #ca0949;
    top: 70%;
    right: -26%;
}
.c-rigth::after{
    left: -26%;
}

.card-info {
font-size: .8rem;
border: 1px solid #ca0949;
border-radius: 10px;
box-shadow: 1px 1px 10px #ca0949;
color: rgb(196, 194, 194);
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #ca0949;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
.d-none{
    display: none !important;
}